In [75]:
x = 200

y = 50

In [76]:
if x>y:
  print("yes")

yes

In [77]:
if x>y:
  print("now yes")
else:
  print("Failed")

now yes

In [78]:
x = 20

y = 200

In [79]:
if x>y:
  print("First condition satisfied")
elif x<y:
  print("second condition satisfied")

second condition satisfied

In [80]:
if x>y:
  print("First condition satisfied")
elif x>=y:
  print("second condition satisfied")
elif x<y:
  print("third condition satisfied")
else:
  print("both are failed")

third condition satisfied

In [81]:
a = 30

b = 40

if a>b: print("A")

In [82]:
print("A") if a<b else print("B")

A

In [83]:
x = 15

In [84]:
if x>20:
  print("More than 20")
  if x>40:
    print("more than 40")
  else:
    print("but less than 40")
  
else:
  print("less than 20")

less than 20

In [85]:
if x>10:
  pass

In [86]:
for a in "banana":
  print(a)
  print("----")

b
----
a
----
n
----
a
----
n
----
a
----

In [87]:
x = "apple"

In [88]:
for y in x:
  print("letter:",y)

letter: a
letter: p
letter: p
letter: l
letter: e

In [89]:
mylist = ["apple", "orange", "banana"]

In [90]:
for a in mylist:
  print("fruit: ", a)

fruit:  apple
fruit:  orange
fruit:  banana

In [91]:
for x in mylist:
  print(x)
  if x == "orange":
    break

apple
orange

In [92]:
for x in mylist:
  if x !="orange":
    print(x)
  else:
    break

apple

In [93]:
for x in mylist:
  if x == "orange":
    continue
  print(x)

apple
banana

In [94]:
for x in range(7):
  print(x)
  x+=1
  print(x)

0
1
1
2
2
3
3
4
4
5
5
6
6
7

In [95]:
for y in range(5,14,3):
  print(y)

5
8
11

In [96]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

In [97]:
for x in fruits:
  for y in adj:
    print(x,y)

apple red
apple big
apple tasty
banana red
banana big
banana tasty
cherry red
cherry big
cherry tasty

In [98]:
x = 0
while x<6:
  x+=1
  if x==3:
    continue
  print(x)

1
2
4
5
6

In [99]:
x = 0
while x<6:
  x+=1
  if x==3:
    continue
  print(x)
else:
  print("completed")

1
2
4
5
6
completed

In [100]:
def hello():
  print("Hello world")

In [101]:
hello()

Hello world

In [102]:
hello()

Hello world

In [104]:
def greetings(name):
  print("Hello " + name)

In [106]:
greetings("sam")

Hello sam

In [107]:
greetings("tom")

Hello tom

In [108]:
greetings("jeeva")

Hello jeeva

In [109]:
def greet(name1, name2):
  print(f"Hello {name1}, and {name2}")

In [110]:
greet("jerry","tom")

Hello jerry, and tom

In [111]:
greet("tom", "jerry")

Hello tom, and jerry

In [112]:
greet(name1="jerry",name2="tom")

Hello jerry, and tom

In [116]:
def countryname(country="India"):
  print(f"I am from {country}")

In [117]:
countryname("sweden")

I am from sweden

In [118]:
countryname()

I am from India

In [119]:
def number(x):
  print(x*5)

In [120]:
number(4)

20

In [121]:
def number2(y):
  return y*5

In [122]:
number2(7)

35

In [124]:
b = lambda x: x*10

In [125]:
print(b(2))

20

In [126]:
x = lambda a,b,c: a+b+c

print(x(1,2,3))

6