In [14]:
class number:
  x = 5

In [17]:
obj2 = number()

In [15]:
obj = number()

In [16]:
obj.x

5

In [18]:
obj2.x

5

In [19]:
mylist = [4,5,6,721,3,5,7,1,5]

In [20]:
print(type(mylist))

<class 'list'>

In [21]:
mylist.sort()

In [22]:
print(mylist)

[1, 3, 4, 5, 5, 5, 6, 7, 721]

In [23]:
y = 8

In [24]:
print(type(y))

<class 'int'>

In [29]:
class course:
  def session(self):
    print("THis is python class and object")

obj = course()

In [30]:
obj.session()

THis is python class and object

In [32]:
class course:
  def __init__(self):
    print("Hello")
  def session(self):
    print("THis is python class and object")

obj = course()
obj.session()

Hello
THis is python class and object

In [33]:
class person:
  def __init__(self, name, age):
    self.name = name
    self.age =age
  def first(self):
    return f"My name is {self.name}, my age is {self.age}"
  def second(self):
    return f"I am {self.name}, and i am {self.age} years old"

In [34]:
person1 = person("manish",20)

In [35]:
person1.second()

'I am manish, and i am 20 years old'

In [36]:
person2 = person("tom",25)

In [37]:
person2.first()

'My name is tom, my age is 25'

In [38]:
class car:
  def __init__(self):
    self.milage=20
    self.company="BMW"

In [39]:
car1 = car()
car2 = car()

In [40]:
print(car1.milage,car1.company)

20 BMW

In [41]:
print(car2.milage,car2.company)

20 BMW

In [42]:
car2.milage = 30

In [43]:
print(car1.milage,car1.company)

20 BMW

In [44]:
print(car2.milage,car2.company)

30 BMW

In [45]:
class car:
  wheel = 4
  def __init__(self):
    self.milage=20
    self.company="BMW"

In [46]:
car1 = car()
car2 = car()

In [47]:
print(car1.wheel)

4

In [48]:
print(car2.wheel)

4

In [49]:
car.wheel = 8

In [50]:
car1.wheel

8

In [51]:
car2.wheel

8

In [55]:
class car:
  wheel = 4
  def __init__(self):
    self.milage=20
    self.company="BMW"
  @classmethod
  def wheelno(cls):
    return f"No of wheels: {cls.wheel}"
  @staticmethod
  def info():
    return "This is info"

In [56]:
print(car.info())

This is info

In [54]:
print(car.wheelno())

No of wheels: 4

In [57]:
class one:
  def first(self):
    return "this is first"
  def second(self):
    return "this is second"

In [59]:
class two(one):
  def third(self):
    return "this is third"

  def fourth(self):
    return "this is fourth"

In [60]:
obj = two()

In [61]:
print(obj.first())

this is first

In [62]:
class point:
  def __init__(self,x,y):
    self.x = x
    self.y = y

In [63]:
p1 = point(3,4)
p2 = point(5,6)

In [64]:
p3 = p1 + p2

TypeError: ignored

In [73]:
class p:
  def __init__(self, x,y):
    self.x =x
    self.y = y
  def __add__(self, other):
    p1 = self.x + other.x
    p2 = self.y + other.y
    return p1, p2

In [74]:
p1 = p(4,5)
p2 = p(7,2)

In [75]:
p3 = p1 + p2
print(p3)

(11, 7)