In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("heart.csv")

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
data = pd.read_csv("cardata.csv")

In [5]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [27]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [8]:
data["chol"].min()

126

In [9]:
data["chol"].max()

564

In [10]:
from sklearn.preprocessing import MinMaxScaler

MM_scaler = MinMaxScaler()

In [11]:
data["chol"] = MM_scaler.fit_transform(data[["chol"]])

In [12]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,0.196347,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,0.175799,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,0.109589,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,0.175799,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,0.383562,1,1,106,0,1.9,1,3,2,0

In [13]:
data["chol"].min()

0.0

In [14]:
data["chol"].max()

0.9999999999999998

In [15]:
data["chol"].mean()

0.273972602739726

In [16]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,0.196347,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,0.175799,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,0.109589,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,0.175799,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,0.383562,1,1,106,0,1.9,1,3,2,0

In [18]:
data["chol"].mean()

0.273972602739726

In [17]:
data["chol"].std()

0.11779111919219656

In [19]:
from sklearn.preprocessing import StandardScaler

ss_scaler = StandardScaler()

In [34]:
data["chol"] = ss_scaler.fit_transform(data[['chol']])

In [35]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,-0.659332,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,-0.833861,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,-1.396233,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,-0.833861,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,0.930822,1,1,106,0,1.9,1,3,2,0

In [37]:
data["chol"].mean()

-3.4660621256590253e-18

In [38]:
data["chol"].std()

1.0004881620988826

In [20]:
from sklearn.preprocessing import RobustScaler

In [40]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,-0.659332,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,-0.833861,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,-1.396233,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,-0.833861,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,0.930822,1,1,106,0,1.9,1,3,2,0

In [25]:
x = data.drop(["target"], axis=1)

In [22]:
y = data.target

In [23]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [26]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,0.196347,0,1,168,0,1.0,2,2,3
1,53,1,0,140,0.175799,1,0,155,1,3.1,0,0,3
2,70,1,0,145,0.109589,0,1,125,1,2.6,0,0,3
3,61,1,0,148,0.175799,0,1,161,0,0.0,2,1,3
4,62,0,0,138,0.383562,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,0.216895,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,0.301370,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,0.340183,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,0.292237,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,0.141553,0,1,113,0,1.4,1,1,3

In [27]:
scaled = ss_scaler.fit_transform(x)

In [28]:
scaled.shape

(1025, 13)

In [48]:
scaled

array([[-0.26843658,  0.66150409, -0.91575542, ...,  0.99543334,
         1.20922066,  1.08985168],
       [-0.15815703,  0.66150409, -0.91575542, ..., -2.24367514,
        -0.73197147,  1.08985168],
       [ 1.71659547,  0.66150409, -0.91575542, ..., -2.24367514,
        -0.73197147,  1.08985168],
       ...,
       [-0.81983438,  0.66150409, -0.91575542, ..., -0.6241209 ,
         0.23862459, -0.52212231],
       [-0.4889957 , -1.51170646, -0.91575542, ...,  0.99543334,
        -0.73197147, -0.52212231],
       [-0.04787747,  0.66150409, -0.91575542, ..., -0.6241209 ,
         0.23862459,  1.08985168]])

In [49]:
x = pd.DataFrame(scaled, columns=x.columns)

In [50]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,-0.268437,0.661504,-0.915755,-0.377636,-0.659332,-0.418878,0.891255,0.821321,-0.712287,-0.060888,0.995433,1.209221,1.089852
1,-0.158157,0.661504,-0.915755,0.479107,-0.833861,2.387330,-1.004049,0.255968,1.403928,1.727137,-2.243675,-0.731971,1.089852
2,1.716595,0.661504,-0.915755,0.764688,-1.396233,-0.418878,0.891255,-1.048692,1.403928,1.301417,-2.243675,-0.731971,1.089852
3,0.724079,0.661504,-0.915755,0.936037,-0.833861,-0.418878,0.891255,0.516900,-0.712287,-0.912329,0.995433,0.238625,1.089852
4,0.834359,-1.511706,-0.915755,0.364875,0.930822,2.387330,0.891255,-1.874977,-0.712287,0.705408,-0.624121,2.179817,-0.522122

In [36]:
x["sex"].unique()

array([1, 0], dtype=int64)

In [37]:
data = pd.read_csv("/content/titanic.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/content/titanic.csv'

In [33]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,0.196347,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,0.175799,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,0.109589,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,0.175799,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,0.383562,1,1,106,0,1.9,1,3,2,0

In [34]:
data.dropna(inplace=True, axis=0)

In [35]:
data["Embarked"].unique()

KeyError: 'Embarked'

In [31]:
data["Embarked"].value_counts()

KeyError: 'Embarked'

In [30]:
from sklearn.preprocessing import OneHotEncoder

In [63]:
o_encoder = OneHotEncoder()

In [29]:
data["Embarked"]

KeyError: 'Embarked'

In [66]:
o_encoder.fit_transform(data[["Embarked"]]).toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [68]:
from sklearn.preprocessing import LabelEncoder

l_encoder = LabelEncoder()

In [70]:
data["Embarked"] = l_encoder.fit_transform(data[["Embarked"]])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [71]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,2
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,2

In [72]:
data["Embarked"].value_counts()

2    116
0     65
1      2
Name: Embarked, dtype: int64